.App {
  height: 100%;
}

.AddCard__content input {
  outline: none;
  padding: 5px 10px;
  border: none;
  width: 100%;
}

.postsControl {
  display: flex;
  justify-content: end;
  padding: 10px 15px;
  background-color: white;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

.avatar {
  border-radius: 50%;
  background-color: grey;
}

.userCard, .AddCard, .ViewPost_card, .EditCard {
  width: 100%;
  margin-top: 20px;
  padding: 10px 15px;
  background-color: white;
}

.userCard_header, .AddCard_header, .AddCard_main, .AddCard_footer, .userCard_footer, .EditCard_header, .EditCard_main, .EditCard_footer {
  display: flex;
}

.AddCard_header, .EditCard_header {
  justify-content: space-between;
}

.AddCard__content {
  width: 100%;
}

.AddCard_main, .EditCard_main, .userCard_main {
  align-items: center;
  margin-top: 15px;
}

.AddCard_footer, .userCard_footer, .EditCard_footer {
  justify-content: end;
  gap: 10px;
}

.userCard__info {
  margin-left: 5px;
}

.userCard__name {
  color: blue;
  font-weight: 700;
  font-size: 12px;
}

.userCard__subInfo {
  display: flex;
  font-size: 10px;
  color: gray;
}

.userCard__position {
  font-weight: 700;
  margin-right: 5px;
}

.userCard_main {
  font-size: 20px;
}
